@import 'tailwindcss';
@source "./src/**/*.{html,ts}";

@theme {
  --font-sans: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

@layer components {
  .input {
    @apply w-full bg-[#F8FAFC] text-[#020202];
  }

  .button {
    @apply w-full bg-[#6366F1] rounded-xl p-2 cursor-pointer mt-2;
  }

  .section {
    @apply flex justify-center h-screen text-white bg-[#0F172A];
  }
}

/* Estilos base */
html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-sans);
}
